.title-main{
    font-size: xx-large;
    color: white;
}

.highlight-yellow{
    color: #FFC300;
}

.primary-button{
    background-color: #3b3b3b;
    font-size: medium;
    color: #FFC300;
    height: 45px;
    border-style: 'solid';
    border-color: '#841A0C';
    border-radius: 10px;
}